:host {
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-item {
    padding-left: 20px;
  }

  .mb-4, .my-4 {
    margin-bottom: 0px !important;
  }
  .mt-4, .my-4 {
    margin-top: 0px !important;
  }
}
