<div class="background-image-container mt-ncs">
<!--  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <ds-text-section *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews" [sectionId]="'site'" [textRowSection]="homeNewsSection"
                              [site]="(site$ | async)"></ds-text-section>
    </div>
  </div>

  <picture class="background-image">
    <img class="unibe_logo" [src]="'assets/images/casona_fachada_4.jpg'"/>
  -->
</div>

<ng-template #dsDefaultHomeNews>

</ng-template>
