<div class="background-image-container mt-ncs">
<!--  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <ds-text-section *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews" [sectionId]="'site'" [textRowSection]="homeNewsSection"
                              [site]="(site$ | async)"></ds-text-section>
    </div>
  </div>
-->
  <picture class="background-image">
    <img alt="" [src]="'assets/images/cris-derecha.png'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
    <img class="unibe_logo" alt="UNIBE - Universidad Iberoamericana" [src]="'assets/images/Logo_CRIS_positivo.png'"/>
  </picture>
</div>

<ng-template #dsDefaultHomeNews>

</ng-template>
