:host {
  #home-header-wrapper {
    margin-top: calc(var(--ds-content-spacing) * -1);
  }

  ds-top-section, ds-base-top-section {
    ds-metric-donuts {
      display: none !important;
    }
  }

  @media (min-width: 768px) {
    img.unibe_logo {
        object-fit: contain !important;
        scale: 110% !important;
    }
  }

}

@include media-breakpoint-down(md) {
  ds-themed-configuration-search-page + .container {
    width: 100%;
    max-width: none;
  }
}
